.courtpart-container
{
    width: 100%;
}

.courtpart-midcontainer img
{
    width: 100%;
}

.courtpart-midcontainer {
  position: relative;
  height: auto;

}

.court-image {
  width: 100%;
  display: block;
}

.courtpart-grid-container {
  /* position: absolute; */
  margin: -60px auto 0px auto;
  width: 100%;
  display: flex;
  justify-content: center;  
}

.courtpart-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  padding: 0 30px;
  max-width: auto;
  width: 100%;
  z-index: 2;
}


.grid-item {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 126px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
  padding: 10px;
}

.grid-item:hover
{
  text-decoration: underline;
}

.icon {
  font-size: 28px;
  margin-bottom: 10px;
}

.label {
  font-weight: 600;
  font-size: 18px;
  color: #9b8154;
}

@media (max-width: 900px)
{

    .courtpart-grid
    {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        grid-row-gap: 0px;
        grid-column-gap: 10px;
    }
    .courtpart-grid-container
    {
        margin-top: 10px;
        
    }
}
